.content{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;  
    
    .table{
        min-width: 800px;
        background-color: #f8f7f7;
        padding: 40px;
        border-radius: 40px;
        justify-content: space-between;


        .tableContent{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .name{
                display: flex;
                flex-direction: row;
                gap: 15px;
            }
        }
    }
}