.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;
  height: 55px;
  padding-left: 30px;
  padding-right: 30px;

  .homeLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-between;
    width: 180px;

    .icon{
      width: 40px;
      height: 40px;
    }
  }

  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
  }

  .link{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 16px;
    font-size: 14px;
  }

  .exitButton{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;
    line-height: 16px;
    font-size: 14px;

    &:hover{
      cursor: pointer;
    }
  }
}