.container{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .gameText{
    max-width: 700px;
    background: #E8E8E8;
    border-radius: 10px;
    padding: 10px;
    color: #8c8c8c;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row;

    .enteredText{
      margin: 0;
      color: black;
      display: flex;
      align-items: center;
    }

    .incorrectText{
      margin: 0;
      color: #DE1135;
      display: flex;
      align-items: center;
    }

    .text{
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}