.body{
  display: flex;
  width: 100vw;
  height: calc(100vh - 55px);
  justify-content: center;
  align-items: center;

  .icon{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #f8f7f7;
    padding: 40px;
    border-radius: 40px;

    .text{
      margin-bottom: 15px;
    }

    .input{
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      width: 300px;

      .span{
        color: #DE1135;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}